<div class="row-fluid">
<h1>Listing people</h1>
<div class="span12">
      <div class="span11">
        <table class="table table-hover">
          <thead class="unstyled inline">
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<% @people.each do |person| %>
 <tbody class="unstyled inline">
  <tr>
    <td><%= person.name %></td>
    <td><%= person.website %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
        </table>
      </div>
    </div>

<span class="btn btn-primary"><%= link_to 'New Person', new_person_path %></span>
</div>