<h1>Listing Political Committees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Issue(s)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @politicalcommittees.each do |politicalcommittee| %>
  <tr>
    <td><%= politicalcommittee.name %></td>
    <td><%= politicalcommittee.issues.name %></td>
    <td><%= link_to 'Show', politicalcommittee %></td>
    <td><%= link_to 'Edit', edit_politicalcommittee_path(politicalcommittee) %></td>
    <td><%= link_to 'Destroy', politicalcommittee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Political Committee', new_politicalcommittee_path %>
